!!! 5
%html{ :lang => "en-US", "xml:lang" => "en-US", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html; charset=utf-8" }
    %meta{ :name => "Author", :content => "Lance Ennen" }
    %meta{ :name => "viewport", :content => "width=1024" }
    %title= 'BringingWhat? - ' + @title ||= "Making your Events Smart."
    %meta{ :name => "Keywords", :content => "Bringingwhat, whos bringing what, bringing what, facebook events, facebook" }
    %meta{ :name => "Description", :content => "bringingwhat"}
    = stylesheet_link_tag 'compiled/main.css'
    = stylesheet_auto_include_tags
    /%link{ :rel => "shortcut icon", :href => "" }
  %body
    #container
      #header
        = link_to image_tag('logo_small.png'), dashboard_url
        #menu
          %ul
            %li= link_to 'Dashboard', dashboard_url
            %li= link_to 'Create Event', new_event_url
            %li= link_to 'Profile', profile_url
            %li= link_to 'Logout', logout_url
        #wrapper
          - if flash[:notice]
            #notice
              %p= flash[:notice]
          - if flash[:error]
            #error
              %p= flash[:error]
          = yield
  = javascript_include_tag 'jquery', 'application'
  = javascript_auto_include_tags
